{% extends "blog/base.html" %}

{% block content %}
    <style>
    .table{
        padding: 5px;
        font: 500 16px Lato;
    }

    .title{
        text-align: center;
        font: 500 40px Lato;
    }
    </style>

<div class="title"><h1>ПРАЙС-ЛИСТ НА ЮРИДИЧЕСКИЕ УСЛУГИ</h1></div>

    <table class="table">
        <tr>
            <th>Услуга</th>
            <th>Цена</th>
        </tr>
        <tr>
            <td>Консультация по простому вопросу</td>
            <td>от 500р</td>
        </tr>
        <tr>
            <td>Консультация по сложному вопросу</td>
            <td>от 1000р</td>
        </tr>
        <tr>
            <td>Подготовка письменного правового заключения по вопросу</td>
            <td>от 5000р</td>
        </tr>
        <tr>
            <td>Интервьюирование, изучение документов, выработка позиций защиты</td>
            <td>от 10000р</td>
        </tr>
        <tr>
            <td>Проверка и анализ заключенных или заключаемых договоров</td>
            <td>от 3000р</td>
        </tr>
        <tr>
            <td>Предоставление правовой оценки, предлагаемых условий составленного договора</td>
            <td>от 3000р</td>
        </tr>
        <tr>
            <td>Разработка и составление договора, протокола разногласий, дополнительного соглашения</td>
            <td>от 3000р</td>
        </tr>
        <tr>
            <td>Разработка и составление «рабочего» проекта договора с дополнительными документами</td>
            <td>от 10000р</td>
        </tr>
        <tr>
            <td>Составление претензии</td>
            <td>от 3000р</td>
        </tr>
        <tr>
            <td>Досудебное урегулирование спора (телефонные переговоры, встречи и т.д.)</td>
            <td>от 3000р + %</td>
        </tr>
        <tr>
            <td>Составление искового заявления и подготовка необходимого пакета документов для подачи в суд</td>
            <td>от 5000р + %</td>
        </tr>
        <tr>
            <td>Подготовка отзывов на исковые заявления и иные процессуальные документы по судебному процессу</td>
            <td>от 5000р + %</td>
        </tr>
        <tr>
            <td>Подготовка необходимого пакета документов для возмещения судебных расходов на услуги представителя</td>
            <td>от 4000р</td>
        </tr>
        <tr>
            <td>Представление интересов Заказчика в мировом суде (1 выход в суд)</td>
            <td>от 3000р</td>
        </tr>
        <tr>
            <td>Представление интересов Заказчика в суде общей юрисдикции (первая инстанция) (1 выход в суд)</td>
            <td>от 5000р</td>
        </tr>
        <tr>
            <td>Получение исполнительного листа</td>
            <td>1000р</td>
        </tr>
        <tr>
            <td>Подготовка необходимых документов для возбуждения исполнительного производства и предъявления исполнительного листа (приказа) к исполнению</td>
            <td>от 1500р</td>
        </tr>
        <tr>
            <td>Обжалование действий/бездействий судебного пристава-исполнителя</td>
            <td>от 5000р</td>
        </tr>
        <tr>
            <td>Участие в исполнительных действиях</td>
            <td>от 3000р</td>
        </tr>
    </table>
{% endblock content %}