{% extends "blog/base.html" %}

{% block content %}
    <style>
        .card {
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            width: 60%;
            border-radius: 5px;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            font: 500 18px Lato;
        }

        .text-left{
            text-align: center;
        }

        td {
            padding-bottom: 10px;
        }

        .content {
            font-size: 18px;
            padding: 10px 10px 10px 10px;
            text-align: justify;
        }

    </style>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% for review in reviews %}
        <div class="card">
                <div class="row d-flex">
                    <div class="d-flex flex-column">
                        <h3 class="mt-2 mb-0">{{ review.name }}</h3>
                        <div>
                            <p class="text-left"><span class="text-muted"> Rate: {{ review.grade }}</span></p>
                        </div>
                    </div>
                    <div class="ml-auto">
                        <p class="text-muted pt-5 pt-sm-3">{{review.date_added}}</p>
                    </div>
                </div>
                <div class="content">
                    <p>{{review.content }}</p>
                </div>
        </div>
        {% empty %}
            <p>No reviews</p>
    {% endfor %}
{% endblock content%}